{{# if isAdmin }}
<div class="row">
    <div class=" panel panel-primary">
        <div class="panel-heading">
        <h1 align="center">Admin panel <i class="fas fa-user-tie"></i></h1>
        </div>
        <div class="panel-body">
            <div class="panel-group" id="accordion" role="tablist" aria-multiselectable="true">
  <div class="panel panel-info">
    <div class="panel-heading" role="tab" id="headingOne">
      <h4 class="panel-title">
        <h2 style="color: black;" role="button" data-toggle="collapse" data-parent="#accordion" href="#collapseOne" aria-expanded="true" aria-controls="collapseOne">
        Products <i class="fas fa-gamepad"></i></h2>
        </h4>
    </div>
    <div id="collapseOne" class="panel-collapse collapse in" role="tabpanel" aria-labelledby="headingOne">
      <div class="panel-body">
          {{# each products}}
          {{# each this }}
          <form action="/product/{{this.this._id}}?_method=DELETE" method="POST" id="form{{this.this._id}}">
            <div class="well well-sm">{{this.this.title}}
              <button type="submit" class="btn btn-sm btn-danger pull-right" form="form{{this.this._id}}">Delete product <i class="far fa-times-circle"></i></button>
          </form>
            <a href="/product/{{this.this._id}}/edit" class="btn btn-sm btn-warning pull-right" style="margin-right: 1%;">Edit product <i class="far fa-edit"></i></a>
            </div>
          {{/each}}
          {{/each}}
            <a href="/new-product" class="btn btn-success" style="width: 100%;"><h4 align="center">Add a new game <i class="far fa-plus-square"></i></h4></a>
     </div>
    </div>
  </div>
  <div class="panel panel-info">
    <div class="panel-heading" role="tab" id="headingTwo">
      <h4 class="panel-title">
        <h2 style="color: black;" class="collapsed" role="button" data-toggle="collapse" data-parent="#accordion" href="#collapseTwo" aria-expanded="false" aria-controls="collapseTwo">
          Orders <i class="fas fa-clipboard-list"></i>
        </h2>
      </h4>
    </div>
    <div id="collapseTwo" class="panel-collapse collapse" role="tabpanel" aria-labelledby="headingTwo">
      <div class="panel-body">
      <div class="btn-group" style="margin-bottom: 2%;">
            <button type="button" class="btn btn-lg btn-primary"><i class="fas fa-sort"></i> Filter options </button>
            <button type="button" class="btn btn-lg btn-primary dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                <i class="fas fa-angle-down"></i>
                <span class="sr-only">Toggle Dropdown</span>
            </button>
            <ul class="dropdown-menu">
                <li style="padding-bottom: 2%;"><a class="btn btn-lg btn-success show-conf">Show confirmed <i class="far fa-check-circle"></i></a></li>
                <li style="padding-bottom: 2%;"><a class="btn btn-lg btn-warning show-p">Show pending <i class="far fa-clock"></i></a></li>
                <li><a class="btn btn-lg btn-danger show-canc">Show cancelled <i class="fas fa-ban"></i></a></li>
            </ul>
        </div>
          {{# each orders}}
          {{# each this }}
            <div class="panel panel-default">
                <div class="panel-body">
                <div class="pull-right" style="width: 300px;">
                    <p style="margin-left: 25%;"><i class="fas fa-list-ul"></i> Ordered products: </p>
                    {{# each this.items }}
                     <p>{{this.quantity}} x <i>{{this.item.title}}</i></p>
                     {{/each}}
                     </div>
                    <p><i class="far fa-calendar-alt"></i> Date of order: <i>{{this.created}}</i></p>
                    <p><i class="far fa-user"></i> Customer's full name: <i>{{this.fullName}}</i></p>
                    <p><i class="far fa-envelope"></i> Customer's email: <i>{{this.email}}</i></p>
                    <p><i class="fas fa-map-marked-alt"></i> Address to send: <i>{{this.address}} - {{this.city}}</i></p>
                    <p><i class="fas fa-money-bill"></i> Price to pay: <i>{{this.totalPrice}} €</i></p>
                </div>
                <div class="panel-footer"><i class="fas fa-info-circle"></i> Status: <strong><span class="order-status">{{this.status}}</span></strong>
                <a href="/cancel-order/{{this._id}}" class="btn btn-sm btn-danger pull-right">Cancel order <i class="fas fa-ban"></i></a>
                <a href="/confirm-order/{{this._id}}" class="btn btn-sm btn-success pull-right" style="margin-right: 1%;">Confirm order <i class="far fa-check-circle"></i></a>
                </div>
            </div>
          {{/each}}
          {{/each}}
      </div>
    </div>
  </div>
  <div class="panel panel-info">
    <div class="panel-heading" role="tab" id="headingThree">
      <h4 class="panel-title">
        <h2 style="color: black;" class="collapsed" role="button" data-toggle="collapse" data-parent="#accordion" href="#collapseThree" aria-expanded="false" aria-controls="collapseThree">
          Users <i class="fas fa-users"></i></h2>
      </h4>
    </div>
    <div id="collapseThree" class="panel-collapse collapse" role="tabpanel" aria-labelledby="headingThree">
      <div class="panel-body">
        {{# each users}}
          {{# each this }}
            <div class="well well-sm"><i class="fas fa-user-circle"></i> {{this.this.email}}</div>
          {{/each}}
          {{/each}}
      </div>
    </div>
  </div>
</div>
</div>
</div>
{{else}}
<div class="container" style="width: 85%;">
<div class="container-fluid" style="color: white;"><h1 align="center">Welcome back {{name}}</h1></div> 
  <h2 align="center" style="color: white;"><i class="far fa-list-alt"></i> My orders</h2><hr>
  {{# each orders }}
      <div class="panel panel-default" style="width: 31%; min-width: 250px; float: left; margin: 1%;">
          <div class="panel-body">
              <p><i class="far fa-calendar-alt"></i> <i>{{this.created}}</i></p>
              <p><i class="fas fa-map-marked-alt"></i> <i>{{this.address}} - {{this.city}}</i></p>
              <p><i class="fas fa-money-bill"></i> Price to pay: <i>{{this.totalPrice}} €</i></p>
              <button class="btn btn-sm btn-primary" type="button" data-toggle="collapse" data-target="#order{{this._id}}" aria-expanded="false" aria-controls="collapseExample">
              <i class="fas fa-list-ul"></i> Ordered products</button>
              <div class="collapse" id="order{{this._id}}">
                <div class="well well-sm">
                  {{# each this.items }}
                    <p>{{this.quantity}} x <i>{{this.item.title}}</i></p>
                  {{/each}}
                </div>
              </div>
          </div>
          <div class="panel-footer"><i class="fas fa-info-circle"></i> Status: <strong><span class="order-status">{{this.status}}</span></strong></div>
      </div>
    {{/each}}
</div><hr>
{{/if}}