<div class="container">
{{# if product }}
  <div class="panel panel-primary">
    <div class="panel-heading">
      <h1 align="center">{{product.title}}</h1>  
    </div>
    <div class="panel-body">
      <div class="embed-responsive embed-responsive-16by9">
        <iframe class="embed-responsive-item" src="{{product.trailer}}" allowfullscreen></iframe>
      </div>
        <div class="jumbotron">
          <p>{{product.description}}</p>
          <div class="star-rating" style="font-size: 26px;">
            <i class="fas fa-star"></i>
            <i class="fas fa-star"></i>
            <i class="fas fa-star"></i>
            <i class="fas fa-star"></i>
            <i class="fas fa-star"></i>
            <i class="fas fa-star"></i>
            <i class="fas fa-star"></i>
            <i class="fas fa-star"></i>
            <i class="fas fa-star"></i>
            <i class="fas fa-star"></i>
          </div>
          <h3 class="pull-right"><i class="fas fa-money-bill"></i> Price: {{product.price}} €</h3>
          <h3><i class="fas fa-poll"></i> Rating: <span class="rating-value">{{product.rating}}</span>/10 <i>({{product.votes}} votes)</i></h3>
        </div>
      <a href="/add-to-cart/{{product._id}}" class="btn btn-lg btn-info btn-success pull-right zoom" role="button">Add to cart <i class="fas fa-cart-plus"></i></a>
    </div>
  </div>
    <button class="btn btn-primary zoom show-more" type="button" data-toggle="collapse" data-target="#collapseExample" aria-expanded="false" aria-controls="collapseExample">
  Show opinions about {{product.title}} <i class="fas fa-comments"></i>
</button>
<div class="collapse" id="collapseExample">
{{# each product.comments }}
    <div class="panel panel-info">
      <div class="panel-heading"><i class="fas fa-user-circle"></i> {{this.author}}</div>
        <div class="panel-body">
          <i class="fas fa-comment-dots"></i> {{this.content}}
          <p>Rating: {{this.rating}}/10</p>
          <p class="pull-right" style="font-size: 0.75em; font-style: italic; "> {{this.created}} <i class="fas fa-calendar-alt"></i></p>
        </div>
    </div>
{{/each}}
  <a href="/product/{{product._id}}/comment/new" class="btn btn-success zoom" style="margin-top: 1%; width: 100%;">Add a new comment <i class="far fa-comment-dots"></i></a>
</div>
{{/if}}
</div>
<div class="container">
    <a class="scrollBtn"><i class="fas fa-chevron-circle-up zoom-big"></i></a>
</div>