<div class="cart-list" style="padding-top: 5%;">
{{# if products }}
<div class="container">
      <ul class="media-list" style="padding-left: 15%; padding-right: 15%;">
      {{# each products }}
  <li class="media" style="border: 2px solid dodgerblue; background-color: lightblue;" align="center">
    <div class="media-left">
      <a href="/product/{{this.item._id}}">
        <img class="media-object" src="{{this.item.cover}}" alt="{{this.item.title}}" style="width: 140px; height: 180px;">
      </a>
    </div>
    <div class="media-body">
      <h3 class="media-heading" align="center" style="padding-top: 5%;">{{this.item.title}}</h3>
      <p>{{this.quantity}} x {{this.item.price}} €</p>
      <a href="/reduce/{{this.item._id}}" class="btn btn-warning">Delete one <i class="fas fa-minus-circle"></i></a>
      <a href="/remove/{{this.item._id}}" class="btn btn-md btn-danger">Remove all <i class="far fa-trash-alt"></i></a>
    </div>
  </li>
      {{/each}}
      </ul>
</div>  
<div class="row">
  <div class="col-sm-6 col-md-6 col-md-offset-3 col-sm-offset-3">
    <h2>Total: {{totalPrice}} €</h2>
  </div>
</div>
<hr>
<div class="row">
  <div class="col-sm-6 col-md-6 col-md-offset-3 col-sm-offset-3">
    <form action="/checkout" method="POST">
      <button type="submit" class="btn btn-lg btn-success zoom">Checkout <i class="far fa-check-circle"></i></button>
      <a class="btn btn-lg btn-danger pull-right zoom" href="/empty">Empty your cart <i class="fas fa-trash-alt"></i></a>
    </form>
  </div>
</div>
{{else}}
<div class="row">
  <div class="col-sm-6 col-md-6 col-md-offset-3 col-sm-offset-3">
    <h2>Your cart is empty</h2>
  </div>
</div>
{{/if}}
</div>